{% extends "base.html" %}

{% block style %}

	#content{
		width: 100%;
		height: 100%;
		margin-top:-20px;
		position: relative;
	}

	#map{
		position: absolute;
		width:100%;
		height: 100%;
		top: 0px;
		left: 0px;

	}

	.closer{clear:both;}

	
{% endblock %}

{% block content %}
	<div id="map"></div>
{% endblock %}

{% block jscontent %}

M = {};
M.resize = function(){
	$('#content').height($(window).height()-$('#navbar').height());
	$('#map').width($(window).width());
};
M.vector_l = {};
function onEachFeature(feature, layer) {
    layer.bindPopup("<div class='panel panel-default'><div class='panel-heading'><h3>"+feature.properties.title+"</h3></div><div class='panel-footer'><p><a href=\"/reports/"+feature.properties.id+"\">Vai al Report</a></p></div></div>");
    for (var i in feature.properties.campaigns){
    	M.vector_l[feature.properties.campaigns[i]].addLayer(layer);
    }
}

$(function(){
	$(window).resize(M.resize);
	M.resize();

	function arrayUnique(array) {
	    var a = array.concat();
	    for(var i=0; i<a.length; ++i) {
	        for(var j=i+1; j<a.length; ++j) {
	            if(a[i] === a[j])
	                a.splice(j--, 1);
	        }
	    }

	    return a;
	};

	var the_layer;
	function show_data(data){

		try{
			the_layer.removeFrom(map);
		} catch(e){}

		for (var i in M.vector_l){
			try{
				M.vector_l[i].removeFrom(map);
			} catch(e){}		
		}
			
    	for(var i in data.features){
    		try{
    			vectors = vectors.concat(data.features[i].properties.campaigns)
    		} catch ( e ) {}
    	}
    	vectors = arrayUnique(vectors);

    	for (var i in vectors){
    		M.vector_l[vectors[i]] = L.layerGroup();
    	}

    	M.vector_l["All"] = L.geoJson(data,{
    		onEachFeature: onEachFeature
    	}).addTo(map);

    	the_layer = L.control.layers({"OSM":osmLayer, "Imagery":imagery},M.vector_l).addTo(map);
    };

	var map = L.map('map');

    function get_data(){
    	$.getJSON("/reports/geojson", {"bbox":map.getBounds().toBBoxString()}, show_data);
    }

	var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);
    var imagery = L.esri.basemapLayer("Imagery").addTo(map);
    var vectors = [];
    L.control.fullscreen().addTo(map);

    map.on("moveend", get_data);

    if(typeof Android != "undefined"){
    	map.locate({setView: true, maxZoom: 16});
    }
    else{
		map.setView([42.715, 15.271], 6);
    }

});
{% endblock %}