{% extends "base.html" %}

{% block style%}
.jumbotron img{
	float:left;
	margin:10px;
	-webkit-transform: rotate(-6deg);
}


{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<img src="{{profile.gravatar}}">
		<h1>{{profile.username}}</h1>
	</div>
</div>

<div class="container">
	
	<div class="jumbotron"><h2>Badges</h2></div>
	<div class="row">
	{% for badge in selected_user.monitor_profile.all.0.badges%}
		
	{% endfor %}
	</div>


	<div class="jumbotron"><h2>Gruppi</h2></div>
	<div class="row">
	{% for team in selected_user.monitor_profile.all.0.teams.all%}
		<div class="col-md-2">
			<i class="fa fa-fw fa-group"></i><a hreF="/teams/{{team.id}}">{{team.name}}</a>
		</div>
	{% endfor %}

	</div>


	{% if is_own %}
	<div class="jumbotron"><h2>Profiles</h2></div>
	{% for login in socials %}
	
		<a class="btn btn-warning col-sm-4" href="/accounts/login/{{login.url}}"><i class="fa fa-fw {{login.icon}}"></i>{{login.name}}</a>
	{% endfor %}

	{% endif %}
	<div class="row">&nbsp;</div>


</div>
{% endblock %}