{% extends "base.html" %}


{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Upload <small>{{project.description}}</small></h1>
	</div>
</div>


<div class="container">
	<div class="row">
	
		<form role="form" method="POST" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="file">Documento</label>
		    <input type="file" class="form-control" id="file" name="file" placeholder="Documento">
		  </div>
		  <div class="form-group">
		    <label for="file_type">Tipo</label>
		    <select type="text" class="form-control" id="file_type" name="filetype" placeholder="Tipo">
		    	<option value="img">Immagine</option>
		    	<option value="vid">Video</option>
		    	<option value="pdf">Documento</option>
		    	<option value="oth">Altro</option>
		    </select>
		  </div>
		  <div class="form-group">
		    <label for="date">Data</label>
		    <input type="date" class="form-control" id="date" name="date" placeholder="Data">
		  </div>
		  <button type="submit" class="btn btn-default btn-success"><i class="fa fa-fw fa-plus"></i>Aggiungi</button>
		</form>
	</div>
</div>
{% endblock %}